<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:.dollar="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your checking Account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<h1>Your Checking Account</h1>
<hr>
<body>
<table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>ID</th>
        <th> <span>&#36;</span> Balance</th>
        <th>What Would Like To Do?</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${checkingAccount}">

        <td th:text="${checkingAccount.checkingId}"></td>
        <td  th:text="${checkingAccount.newBalance}"></td>

    <td>
        <a th:href="@{/checkingwithdrawalbutton}" class="btn btn-primary">Withdrawal</a>
        <a th:href="@{/checkingdepositbutton}" class="btn btn-primary">Deposit</a >
        <a th:href="@{/closecheckingaccountbutton}" class="btn btn-primary">Close Account</a >
    </td>
    </tr>

    </tbody>
</table>

<a th:href="@{/}" class="btn btn-success">Logout</a>
</div>
</body>
</html>