<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Banking Atm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<div class="container my-2" >
<h1> Welcome to Decagon Bank </h1>
    <a th:href="@{/showNewCustomerForm}" class="btn btn-primary btn-sm mb-3"> Open An Account </a>
    <a th:href="@{/accessform}" class="btn btn-primary btn-sm mb-3"> Access Account </a>

    <table>
        <thead>
        <tr>
            <th></th>

        </tr>

        </thead>
    </table>
</div>

</body>
</html>