<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Successfully created account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container" >
<h6>Account has been created successfully.</h6>
    <a th:href="@{/accessform}" class="btn btn-primary btn-sm mb-3"> Access Account </a>
    <a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> Main Page </a>

</div>
</body>
</html>